.title {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid black;
}
.nav {
  /* margin-top: 1rem; */
  /* padding-left: 1rem; */
  /* padding-bottom: 1rem; */
  border-bottom: thick double black;
  display: flex;
}
.nav-a {
  margin: 10px;
}
